<!-- start page title -->
<app-pagetitle title="Listado de comercios" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="border_none">
                            <div class="py-2">
                                <!-- Table -->
                                <div class="table-responsive datatables">
                                    <table class="table align-middle table-nowrap table-check">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Afiliaciones bancarias</th>
                                                <th>Email</th>
                                                <th>Member since</th>
                                                <th style="width: 80px; min-width: 80px;">Action</th>
                                            </tr><!-- end tr -->
                                        </thead><!-- end thead -->
                                        <tbody>
                                            <tr *ngFor="let commerce of commerces">
                                                <td>
                                                    <a routerLink="/pages/profile" class="text-body fw-medium">
                                                        {{commerce.nombreComercial}}
                                                    </a>
                                                </td>
                                                <td class="text-center">
                                                    <a routerLink="/pages/profile" class="text-body fw-medium">
                                                        {{commerce.numAffiliates}}
                                                    </a>
                                                </td>
                                                <td>
                                                    {{commerce.email}}
                                                </td>
                                                <td>
                                                    {{commerce.created | date}}
                                                </td>
                                                <td>
                                                    <div class="dropdown" ngbDropdown>
                                                        <button class="btn btn-light btn-sm dropdown-toggle"
                                                            type="button" data-bs-toggle="dropdown"
                                                            aria-expanded="false" ngbDropdownToggle>
                                                            <i class="uil uil-ellipsis-h"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                                            <li><a class="dropdown-item"
                                                                    href="javascript:void(0);">Edit</a></li>
                                                            <li><a class="dropdown-item"
                                                                    href="javascript:void(0);">Print</a></li>

                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                                <!-- End table -->
                                <div class="row justify-content-md-between align-items-md-center mt-2">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status"
                                            aria-live="polite">
                                            Showing {{page}} to {{lastPage}} of {{total}} entries
                                        </div>
                                    </div>
                                    <!-- Pagination -->
                                    <div class="col-sm-12 col-md-5">
                                        <div class="text-md-right float-md-end pagination-rounded">
                                            <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="limit"
                                                (pageChange)="fetchCommerces()">
                                            </ngb-pagination>
                                        </div>
                                    </div>
                                    <!-- End Pagination -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div><!-- end row -->