<div class="card">
  <div class="card-body">
    <h5 class="card-title mb-3">Acciones</h5>
    <div>
      <ul class="list-unstyled mb-0">
        <li *ngIf="isAdmin()">
          <a routerLink="/user/user-list" class="py-2 d-block font-size-15 text-muted">
            <i class="uil uil-users-alt font-size-16 text-primary me-1"></i> Administrar usuarios
          </a>
        </li>
        <li>
          <a routerLink="/commerce/summary" class="py-2 d-block font-size-15 text-muted">
            <i class="uil uil-chart-bar font-size-16 text-primary me-1"></i> Administrar reportes
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>