<!-- start page title -->
<app-pagetitle title="Insta Comercio" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->
<div class="row">
  <div class="col-xl-4 col-sm-6">
    <card-count [title]="'Comercios'" [icon]="'uil uil-shopping-cart-alt'" [count]="totalAffiliatesMaster"
      [link]="'/commerce/commerces-list'"></card-count>
  </div>
  <div class="col-xl-4 col-sm-6">
    <card-count [title]="'Afiliaciones bancarias'" [icon]="'fa fa-university'" [count]="totalAffiliates"
      [link]="'/commerce/affiliates-list'"></card-count>
  </div>
</div>
<div class="row">
  <div class="col-xl-3 col-md-3 col-sm-4">
    <terminal-status-overview [overviewData]="overviewTerminalData"></terminal-status-overview>
  </div>
  <div class="col-xl-9 col-md-9 col-sm-8">
    <closures-data-chart [chartData]="chartData" [chartOverviewData]="chartOverviewData">
    </closures-data-chart>
  </div>
</div>