<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            @if(superTitle){
            <div>
                @if(superTitle && superTitleLink && superTitleLink != '') {
                <h5 class="mb-2"><a href="{{superTitleLink}}">{{superTitle}}</a></h5>
                }@else if(superTitle) {
                <h5 class="mb-2">{{superTitle}}</h5>
                }

                <div class="d-flex align-items-center">
                    <h5 class="mb-0" [ngClass]="{'me-2': bankName}">{{title}}</h5>
                    @if(bankName){
                    <app-bank-image-small-name [bankName]="bankName"></app-bank-image-small-name>
                    }
                </div>
            </div>
            }@else {
            <h4 class=" mb-0">{{title}}</h4>
            }

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    @for (item of breadcrumbItems; track $index) {
                    <ng-container>
                        <li class="breadcrumb-item" [ngClass]="{'active': item.active == true}">{{
                            item.label }}
                        </li>
                    </ng-container>
                    }
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->