<div class="card card-h-100 mt-4">
  <div class="card-header justify-content-between d-flex align-items-center">
    <h4 class="card-title">Cambiar contraseña</h4>
  </div>
  <div class="card-body">
    <form class="needs-validation" novalidate (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
      <div class="mb-3">
        <label class="form-label" for="oldPassword">Contraseña actual</label>
        <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword"
          placeholder="Contraseña actual"
          [ngClass]="{'is-invalid': submit && passwordForm.controls.oldPassword.errors}">
        <div *ngIf="submit && passwordForm.controls.oldPassword.errors" class="invalid-feedback">
          <span *ngIf="passwordForm.controls.oldPassword.errors.required">La contraseña actual es obligatoria.</span>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="newPassword">Nueva contraseña</label>
        <input type="password" class="form-control" id="newPassword" formControlName="newPassword"
          placeholder="Nueva contraseña" [ngClass]="{'is-invalid': submit && passwordForm.controls.newPassword.errors}">
        <div *ngIf="submit && passwordForm.controls.newPassword.errors" class="invalid-feedback">
          <span *ngIf="passwordForm.controls.newPassword.errors.required">La nueva contraseña es obligatoria.</span>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="confirmNewPassword">Confirmar nueva contraseña</label>
        <input type="password" class="form-control" id="confirmNewPassword" formControlName="confirmNewPassword"
          placeholder="Confirmar nueva contraseña"
          [ngClass]="{'is-invalid': submit && passwordForm.controls.confirmNewPassword.errors}">
        <div *ngIf="submit && passwordForm.controls.confirmNewPassword.errors" class="invalid-feedback">
          <span *ngIf="passwordForm.controls.confirmNewPassword.errors.required">Confirmar nueva contraseña es
            obligatorio.</span>
          <span *ngIf="passwordForm.controls.confirmNewPassword.errors.mustMatch">Las contraseñas no coinciden.</span>
        </div>
      </div>
      <div class="mt-4">
        <button type="submit" class="btn btn-primary-instapago w-md">Actualizar contraseña</button>
      </div>
    </form>
  </div>
</div>