<div class="card card-h-100">
  <div class="card-body">
    <div class="float-end d-flex align-items-center">
      <div class="dropdown" ngbDropdown placement="bottom-right">
        <a class="dropdown-toggle text-reset" href="javascript:void(0);" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" ngbDropdownToggle>
          <span class="fw-semibold">Sort By: </span> <span class="text-muted">Yearly<i
              class="mdi mdi-chevron-down ms-1"></i></span>
        </a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0);">Yearly</a>
          <a class="dropdown-item" href="javascript:void(0);">Monthly</a>
          <a class="dropdown-item" href="javascript:void(0);">Weekly</a>
          <a class="dropdown-item" href="javascript:void(0);">Today</a>
        </div>
      </div>

    </div>
    <h4 class="card-title mb-4">Sales Analytics</h4>

    <div class="mt-1">
      <ul class="list-inline main-chart mb-0 text-center">
        <li class="list-inline-item chart-border-left me-1 border-0">
          <h3 class="text-primary"><span data-plugin="counterup">Bs. {{totalAmmount | abbreviateNumber}}</span><span
              class="text-muted d-inline-block fw-normal font-size-15 ms-2">Total Amount</span>
          </h3>
        </li>
        <li class="list-inline-item chart-border-left me-1">
          <h3><span data-plugin="counterup">{{countClosures == 0 ? 0 : countClosures | abbreviateNumber}}</span><span
              class="text-muted d-inline-block fw-normal font-size-15 ms-2">Closures</span>
          </h3>
        </li>
        <li class="list-inline-item chart-border-left me-1">
          <h3><span data-plugin="counterup">{{totalQTY == 0 ? 0 : totalQTY | abbreviateNumber}}</span><span
              class="text-muted d-inline-block fw-normal font-size-15 ms-2">Transactions</span>
          </h3>
        </li>
      </ul>
    </div>

    <div class="">
      @if(analyticsChart.series && analyticsChart.series.length > 0){
      <apx-chart #chart dir="ltr" class="apex-charts" [chart]="analyticsChart.chart" [series]="analyticsChart.series"
        [legend]="analyticsChart.legend" [stroke]="analyticsChart.stroke" [colors]="analyticsChart.colors"
        [fill]="analyticsChart.fill" [dataLabels]="analyticsChart.dataLabels" [xaxis]="analyticsChart.xaxis"
        [markers]="analyticsChart.markers" [plotOptions]="analyticsChart.plotOptions" [yaxis]="analyticsChart.yaxis"
        [tooltip]="analyticsChart.tooltip" [grid]="analyticsChart.grid" [labels]="analyticsChart.labels">
      </apx-chart>
      }@else {
      <div class="text-center">Loading...</div>
      }
    </div>
  </div> <!-- end card-body-->
</div>