<div class="card" style="min-height: 500px;">
  <div class="card-body">
    <div class="float-end d-flex align-items-center">
      <p class="m-0 me-2">
        {{ formattedDateRange }}
      </p>
      <app-dropdown-date-range [currentSelection]="currentSortBy" [customRangeActive]="customRangeActive"
        (selectionChange)="updateSortBy($event)">
      </app-dropdown-date-range>
    </div>
    <h4 class="card-title mb-4">Sales Analytics</h4>
    <div class="mt-1">
      <ul class="list-inline main-chart mb-0 text-center">
        <li class="list-inline-item chart-border-left me-1 border-0">
          @if(showLoadOverview){
          <ngx-skeleton-loader appearance="line" [theme]="{ height: '35px', width: '200px' }"></ngx-skeleton-loader>
          }@else{
          <h3 class="text-primary">
            <span data-plugin="counterup">Bs. {{ totalAmmount | abbreviateNumber }}</span><span
              class="text-muted d-inline-block fw-normal font-size-15 ms-2">Total Amount</span>
          </h3>
          }
        </li>
        <li class="list-inline-item chart-border-left me-1">
          @if(showLoadOverview){
          <ngx-skeleton-loader appearance="line" [theme]="{ height: '35px', width: '120px' }"></ngx-skeleton-loader>
          }@else{
          <h3>
            <span data-plugin="counterup">{{
              countClosures == 0 ? 0 : (countClosures | abbreviateNumber)
              }}</span><span class="text-muted d-inline-block fw-normal font-size-15 ms-2">Closures</span>
          </h3>
          }
        </li>
        <li class="list-inline-item chart-border-left me-1">
          @if(showLoadOverview){
          <ngx-skeleton-loader appearance="line" [theme]="{ height: '35px', width: '180px' }"></ngx-skeleton-loader>
          }@else{
          <h3>
            <span data-plugin="counterup">{{
              totalQTY == 0 ? 0 : (totalQTY | abbreviateNumber)
              }}</span><span class="text-muted d-inline-block fw-normal font-size-15 ms-2">Transactions</span>
          </h3>
          }
        </li>
      </ul>
    </div>

    <div class="">
      @if(showLoadData){
      <ngx-skeleton-loader appearance="line" [theme]="{ height: '250px', width: '100%' }"></ngx-skeleton-loader>
      }@else{
      <apx-chart #chart dir="ltr" class="apex-charts" [chart]="analyticsChart.chart" [series]="analyticsChart.series"
        [legend]="analyticsChart.legend" [stroke]="analyticsChart.stroke" [colors]="analyticsChart.colors"
        [fill]="analyticsChart.fill" [dataLabels]="analyticsChart.dataLabels" [xaxis]="analyticsChart.xaxis"
        [markers]="analyticsChart.markers" [plotOptions]="analyticsChart.plotOptions" [yaxis]="analyticsChart.yaxis"
        [tooltip]="analyticsChart.tooltip" [grid]="analyticsChart.grid" [labels]="analyticsChart.labels">
      </apx-chart>}
    </div>
  </div>
  <!-- end card-body-->
</div>