<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                Copyright 2013-{{year}} &copy; Tecnología InstaPago, S.A. RIF
                J-40187810-5. Todos los derechos reservados
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Hecho con <i class="mdi mdi-heart text-info-purpleblue"></i> por <a href="https://instapago.com/"
                        target="_blank" class="text-reset">Tecnología InstaPago</a>
                </div>
            </div>
        </div>
    </div>
</footer>