<!-- start page title -->
<app-pagetitle title="Listado de afiliados" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <app-affiliate-list [TitleNotFound]="'Cargando afiliaciones...'"
                    [MessageNotFound]="'No se pudieron obtener las afiliaciones. Si crees que esto es un error, por favor, actualiza la página o contacta al soporte.'"
                    [affiliates]="affiliates" [total]="total" [page]="page" [limit]="limit"
                    (pageChange)="onPageChange($event)">
                </app-affiliate-list>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div><!-- end row -->