.icon-demo-content .col-lg-4:hover i,
.icon-demo-content .col-lg-4:hover svg {
  color: #fff;
  background-color: $instapago-purpleblue;
  border-color: $instapago-purpleblue;
  transform: scale(1.15);
}