// Instapago Colors
$instapago-white: #FFFFFF;

$instapago-orange: #F07D31;
$instapago-orange-soft: #f07d3142;
$instapago-yellow: #fdbb1c;
$instapago-purpleblue: #263375;
$instapago-purpleblue-dark: #1d285e;
$instapago-aqua: #0F4C60;
$instapago-aqua-soft: #217E87;
$instapago-celeste: #5589ab;

$instapago-color: #231F20;
$instapago-color-title: #231F20;
$instapago-gray-soft: #e8e8e8;