@if(affiliateMaster?.nombreComercial){
<app-pagetitle title="{{ affiliateMaster?.nombreComercial | titlecase }} ({{
    affiliateMaster?.rif | titlecase
  }})" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
}@else{
<ngx-skeleton-loader appearance="line" [theme]="{ height: '25px', width: '250px' }"></ngx-skeleton-loader>
}

<div class="row">
  <div class="col-xl-8 col-sm-6">
    <div class="card border-0 shadow-sm">
      <div class="card-body py-2 px-3">
        <div class="mb-1">
          @if(affiliateMaster?.address !== null){
          <i class="fas fa-map-marker-alt me-2 text-info-purpleblue"></i>
          <span class="text-muted">{{ affiliateMaster?.address }}</span>
          }@else{
          <ngx-skeleton-loader appearance="line" [theme]="{
              height: '15px',
              width: '80%',
              margin: 0,
              marginBottom: '0'
            }"></ngx-skeleton-loader>
          }
        </div>
        <div class="mb-1">
          @if(affiliateMaster?.email){
          <i class="fas fa-envelope me-2 text-info-purpleblue"></i>
          <span class="text-muted">{{ affiliateMaster?.email }}</span>
          }@else{
          <ngx-skeleton-loader appearance="line" [theme]="{
              height: '15px',
              width: '50%',
              margin: 0,
              marginBottom: '0'
            }"></ngx-skeleton-loader>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6">
    <app-date-range-picker (dateRangeSet)="handleDateRange($event)" (resetCustomRangeSet)="resetCustomRangeSet()">
    </app-date-range-picker>
  </div>
</div>
<div class="row">
  <app-date-range-display [stringDateRange]="formattedDateRange"></app-date-range-display>
</div>
<div class="row">
  <div class="col-xl-12 col-md-12 col-sm-12">
    @if(chartData != undefined){
    <closures-data-chart [customRangeActive]="customRangeChartActive" [chartData]="chartData"
      [chartOverviewData]="chartOverviewData" (sortByChange)="onSortByChange($event)"
      [defaultSort]="globalCurrentSortBy" [resetDefaultSort]="resetDefaultSort"
      [formattedDateRange]="closureDataChartFormattedDateRange" [isLoadingData]="isLoadingDatachart"
      [isLoadingOverview]="isLoadingOverviewDatachart">
    </closures-data-chart>
    }
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    @if(bankClosure && bankClosure.length > 0){
    <card-banks-total-closures [isLoading]="isLoadingTotalBanks"
      [bankClosure]="bankClosure"></card-banks-total-closures>
    }
  </div>
</div>
<div class="row">
  @if(totalTerminals == 0){
  <div class="col-xl-12 col-md-12">
    @if(overviewTerminalData != undefined){
    <terminal-status-overview [overviewData]="overviewTerminalData"
      [isLoading]="isLoadingTerminalData"></terminal-status-overview>
    }
  </div>
  }@else {
  <div class="col-xl-4 col-md-4">
    @if(overviewTerminalData != undefined){
    <terminal-status-overview [overviewData]="overviewTerminalData"
      [isLoading]="isLoadingTerminalData"></terminal-status-overview>
    }
  </div>
  }
  @if(totalTerminals > 0){
  <div class="col-xl-8 col-md-8 col-sm-12">
    <div class="card card-h-100 p-3 pb-1 bg-gray-transparent">
      @if(terminals && affiliate){
      <app-group-of-terminals [terminals]="terminals" [affiliate]="affiliate"></app-group-of-terminals>
      } @if(totalTerminals > limitPageTerminals){
      <div class="text-center m-0">
        <ngb-pagination [collectionSize]="totalTerminals" [(page)]="pageTerminals" [pageSize]="limitPageTerminals"
          (pageChange)="onPageChange($event)"></ngb-pagination>
      </div>
      <!-- Pagination -->
      }
    </div>
  </div>
  }
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-2">Listado de cierres</h4>
        <div class="row mb-md-2">
          <div class="col-sm-12 col-md-6">
            <div class="dataTables_length" id="tickets-table_length">
              <label class="d-inline-flex align-items-center">Show
                <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                  [(ngModel)]="limitPageClosures" (ngModelChange)="onLimitClosureChange($event)"
                  class="form-control form-control-sm mx-2">
                  <option [ngValue]="5">5</option>
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="25">25</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                </select>
                closures</label>
            </div>
          </div>
        </div>
        <app-closures-list (sortOrderEmitter)="receiveSortOrder($event)" [TitleNotFound]="'No se encontraron cierres'"
          [MessageNotFound]="'Este affiliado no tiene cierres asociados'" [closures]="factClosures"
          [total]="totalClosures" [page]="pageClosures" [limit]="limitPageClosures"
          (pageChange)="onPageClosureChange($event)">
        </app-closures-list>
      </div>
    </div>
  </div>
</div>