<!-- start page title -->
<app-pagetitle superTitle="{{affiliate.nameAffiliateMaster | titlecase}}" title="{{affiliate.name | titlecase}}"
  superTitleLink="/commerce/commerce-detail/{{affiliate.affiliateMasterSK}}"
  [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<div class="row">
  <closures-data-chart [chartData]="chartData" [chartOverviewData]="chartOverviewData">
  </closures-data-chart>
</div>
<div class="row">
  <div class="col-xl-3 col-md-3 col-sm-4">
    <terminal-status-overview [overviewData]="overviewTerminalData"></terminal-status-overview>
  </div>
  <div class="col-xl-9 col-md-9 col-sm-8">
    <app-group-of-terminals [terminals]="terminals" [affiliate]="affiliate"></app-group-of-terminals>
    @if(totalTerminals > limitPageTerminals){
    <div class="text-center mt-2">
      <ngb-pagination [collectionSize]="totalTerminals" [(page)]="pageTerminals" [pageSize]="limitPageTerminals"
        (pageChange)="onPageChange($event)"></ngb-pagination>
    </div>
    <!-- Pagination -->
    }
  </div>
</div>
