<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu side-navbar-instapago">

  <!-- LOGO -->
  <div class="navbar-brand-box">
    <a routerLink="/" class="logo logo-dark">
      <span class="logo-sm">
        <img src="assets/images/logo-sm.png" alt="" height="30">
      </span>
      <span class="logo-lg">
        <img src="assets/images/logo-dark.png" alt="" height="30">
      </span>
    </a>

    <a routerLink="/" class="logo logo-light">
      <span class="logo-lg">
        <img src="assets/images/logo-light.png" alt="" height="30">
      </span>
      <span class="logo-sm">
        <img src="assets/images/logo-sm-light.png" alt="" height="30">
      </span>
    </a>
  </div>

  <button type="button" class="btn btn-sm px-3 font-size-16 header-item vertical-menu-btn"
    (click)="toggleMobileMenu($event)">
    <i class="fa fa-fw fa-bars"></i>
  </button>

  <!--- Sidemenu -->
  <ngx-simplebar class="sidebar-menu-scroll" style="max-height: 100vh">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        @for (item of menuItems; track $index) {
        <ng-container>
          @if(item.isTitle){
          <li class="menu-title">{{ item.label | translate }}</li>
          }@if(!item.isTitle && !item.isLayout){
          <li>
            @if(hasItems(item)){
            <a href="javascript:void(0);" class="is-parent"
              [ngClass]="{'has-arrow': !item.badge, 'has-dropdown': item.badge}">
              <i-feather name="{{ item.icon }}" class="me-1 nav-icon"></i-feather>
              <span class="menu-item"> {{ item.label | translate }}</span>
              @if(item.badge){
              <span class="badge rounded-pill float-end bg-{{item.badge.variant}}">{{item.badge.text
                | translate}}</span>
              }
            </a>
            <ul class="sub-menu" aria-expanded="false">
              @for (subitem of item.subItems; track $index) {
              <li>

                @if(hasItems(subitem)){
                <a class="side-nav-link-a-ref has-arrow" href="javascript:void(0);"
                  [attr.data-parent]="subitem.parentId">
                  {{ subitem.label | translate}}
                </a>
                <ul class="sub-menu mm-collapse" aria-expanded="false">
                  @for (subSubitem of subitem.subItems; track $index) {
                  <li>
                    <a [attr.data-parent]="subSubitem.parentId" [routerLink]="subSubitem.link" routerLinkActive="active"
                      class="side-nav-link-ref">
                      {{ subSubitem.label | translate }}
                    </a>
                  </li>
                  }
                </ul>
                }@else{
                <a [routerLink]="subitem.link" class="side-nav-link-ref" [attr.data-parent]="subitem.parentId"
                  routerLinkActive="active">
                  {{ subitem.label | translate}}
                </a>}
              </li>}
            </ul>
            }@else {
            <a [routerLink]="item.link" class="side-nav-link-ref" routerLinkActive="active">
              @if(item.icon){
              <i-feather name="{{ item.icon }}" class="me-1 nav-icon"></i-feather>
              }
              <span class="menu-item"> {{ item.label | translate }}</span>
              @if(item.badge){
              <span class="badge rounded-pill {{item.badge.variant}} float-end">{{item.badge.text |
                translate}}</span>}
            </a>
            }


          </li>}
        </ng-container>
        }
      </ul>
    </div>
    <!-- Sidebar -->
  </ngx-simplebar>
  <!-- Sidebar -->

</div>
<!-- Left Sidebar End -->