<a *ngIf="showLoad; else content" routerLink="{{ link }}">
  <div class="card">
    <div class="card-body py-2">
      <div class="d-flex align-items-center">
        <div class="d-flex align-items-center me-2">
          <ngx-skeleton-loader appearance="circle" [theme]="{ width: '45px', height: '45px' }"></ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-center flex-column pt-2">
          <ngx-skeleton-loader appearance="line" [theme]="{ height: '20px', width: '100px' }"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div>
</a>

<ng-template #content>
  <a routerLink="{{ link }}">
    <div class="card">
      <div class="card-body py-3">
        <div class="d-flex align-items-center">
          <div class="flex-shrink-0 me-3">
            <div class="avatar-sm">
              <div class="avatar-title bg-primary-subtle text-primary rounded-circle font-size-18">
                <i class="{{ icon }}"></i>
                <!-- Usar ícono pasado por @Input -->
              </div>
            </div>
          </div>
          <div class="flex-grow-1 overflow-hidden">
            <p class="mb-1 text-truncate text-muted">{{ title }}</p>
            <!-- Usar título pasado por @Input -->
            <h5 class="font-size-16 mb-0">{{ count }}</h5>
            <!-- Usar contador pasado por @Input -->
          </div>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </a>
</ng-template>