<div class="card card-h-100">
  <div class="card-body">
    <div class="d-flex align-items-start">
      <div class="flex-grow-1">
        <h5 class="card-title mb-4 text-center">Terminales</h5>
      </div>

      <div class="flex-shrink-0">
        <div class="dropdown" ngbDropdown>
          <a class="font-size-16 text-muted dropdown-toggle" href="javascript:void(0);" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <i class="mdi mdi-dots-horizontal"></i>
          </a>

          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item" href="javascript:void(0);">Action</a>
            <a class="dropdown-item" href="javascript:void(0);">Another action</a>
            <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
          </div>
        </div>
      </div>
    </div>
    @if(donutChart.series && donutChart.series.length > 0){
    <apx-chart class="apex-charts" [chart]="donutChart.chart" [plotOptions]="donutChart.plotOptions"
      [dataLabels]="donutChart.dataLabels" [series]="donutChart.series" [labels]="donutChart.labels"
      [colors]="donutChart.colors" [legend]="donutChart.legend">
    </apx-chart>
    <div class="row mb-0 mt-3">
      <div class="col-12 text-center">
        <p class="text-muted mb-2">Cantidad total de terminales</p>
        <h5>{{countTerminals | number}}</h5>
      </div>
    </div>
    }@else{
    <div class="text-center">Loading...</div>
    }
  </div>
  <!-- end card body -->
</div>
<!-- end card -->